body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-align: center;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: left;
    color: #ffffff;
    background-color: rgb(127, 125, 138);
    width: 100%;
    height: 80px;
}

nav h1{
    margin-left: 100px;
}

i {
    transform: translateY(10%);
    font-size: 30px;
}

.container{
    box-sizing: border-box;
    justify-content: center;
    border:gray solid 1px ;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    background-color: #ffffff;
}
.container h1{
    text-align: left;
    margin-left: 20px;
}

.container .input-box1{
    margin: 5px;
    position: relative;
}

.content-input{
    justify-content: space-around;
    text-align: center;
    display: flex;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container input{
    width: 600px;
    color: rgb(107, 104, 101);
    box-sizing: border-box;
    padding: 13px 0 13px 8px;
    border: 1px solid darkslategray;
    margin-bottom: 4px;
    border-radius: 3px;
    outline: none;
    background: transparent;
    font-size: 15px;
    flex: 1;
}
.content-input .btn-submit{
    background-color: #1A73E8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;

}

ul li{
    margin-left: 0px;
    text-align: left;
    width: 700px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url("images/checked.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}